@import "tailwindcss";

html {
  scroll-behavior: smooth;
}


@theme {
  --font-sans: var(--font-inter);
  
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
}

:root {
  --background: #ffffff;
  --foreground: #09090b;
  
  --primary: #f97316; /* Orange 500 */
  --primary-foreground: #ffffff;
  
  --secondary: #f4f4f5; /* Zinc 100 */
  --secondary-foreground: #18181b;
  
  --muted: #f4f4f5;
  --muted-foreground: #71717a;
  
  --accent: #f4f4f5;
  --accent-foreground: #18181b;
  
  --card: #ffffff;
  --card-foreground: #09090b;
  
  --border: #e4e4e7;
  --input: #e4e4e7;
  --ring: #f97316;
  
  --radius: 0.5rem;
}

.dark {
  --background: #09090b;
  --foreground: #fafafa;
  
  --primary: #ea580c; /* Orange 600 */
  --primary-foreground: #ffffff;
  
  --secondary: #27272a; /* Zinc 800 */
  --secondary-foreground: #fafafa;
  
  --muted: #27272a;
  --muted-foreground: #a1a1aa;
  
  --accent: #27272a;
  --accent-foreground: #fafafa;
  
  --card: #09090b;
  --card-foreground: #fafafa;
  
  --border: #27272a;
  --input: #27272a;
  --ring: #ea580c;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
